@charset "utf-8";
/* CSS Document */
* {
	border: none;
	color: #333;
	font-family: Calibri, Arial, SansSerif;
	font-size: 14px;
	list-style: none;
	line-height: 20px;
	outline: none;
	padding: 0;
	margin: 0;
	text-decoration: none;
}
.clear {
	clear: both;
}
a:hover {
	text-decoration: underline;
}
.more {
	font-weight: bold;
}
h1 {
	font-size: 22px;
}
h2, h2 a {
	font-size: 19px;
}
h3, h3 a {
	font-size: 16px;
}
h4, h4 a {
	font-size: 14px;
}
.pull_left, .nav li, .list li, .fcol_2 li {
	float: left;
}
.pull_right {
	float: right;
}
.red {
	color: #f00;
}
.header_text, .nav, #content, .footer-col, .f_bottom p, .subnav {
	width: 1024px;
	margin: 0 auto;
}
#header {
	background: #21252b;
}
.header_text p, .header_text span, .header_text a {
	color: #fff;
	padding: 5px 0;
}
.navwrap {
	background: #ffffff;
}
.nav ul {
	border-left: 1px solid #ccc;
}
.logo {
	margin: 20px 20px 30px 0;
}
.nav li a {
	display: block;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 40px 0;
	text-align: center;
	border-right: 1px solid #ccc;
	width: 110px;
}
.nav li a:hover, .nav li .active {
	background: #15288f;
	color: #fff;
	text-decoration: none;
}
#pull, .right_pull {
	display: none;
}
.subnav {
	padding: 20px 0 10px;
	border-bottom: 1px dashed #333;
	margin-bottom: 20px;
}
.subnav a, .subnav p {
	font-weight: bold;
	font-size: 14px;
}
/*content*/
#content {
}
.h1 {
	border-bottom: 3px solid #333;
	margin-bottom: 40px;
	padding-bottom: 7px;
}
.contenthome {
	background: url(../images/bannerbg.jpg) no-repeat center 3px;
	padding-top: 32px;
}
.column h2, .col_left_r li, .col_top, #footer h2, .box, .box h2, .textbox, .aboutimgbox, .divtext {
	margin-bottom: 20px;
}
.col_left {
	width: 660px;
}
.column h2 .more {
	background: url(../images/more1.jpg) no-repeat;
	width: 57px;
	height: 17px;
	text-indent: -99999px;
	margin-top: 3px;
}
.col_left h2 .more {
	background: url(../images/more1.jpg) no-repeat;
	width: 54px;
	margin-top: 4px;
}
.col_left_l {
	width: 296px;
}
.col_left_l h2 {
	margin: 20px 0 8px;
	font-weight: 700;
}
.col_left_r {
	width: 330px;
}
.col_left_r .text {
	width: 195px;
}
.col_left_r .text p, .list p {
	height: 48px;
	overflow: hidden;
}
.col_left_r .more {
	color: #fff;
	background: url(../images/morebg1.jpg) no-repeat left top;
	width: 44px;
	padding-left: 20px;
	line-height: 18px;
	margin-top: 2px;
}
.col_left p, .list p {
	color: #777;
	line-height: 16px;
}
.col_right {
	width: 325px;
}
.col_right li {
	border-bottom: 1px dashed #666;
	padding: 7px 0;
}
.col_right li a {
	display: block;
	width: 190px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.col_right ul {
	margin: 10px 0 15px;
}
.col_right .text {
	width: 205px;
	height: 80px;
	overflow: hidden;
}
.col_right .text p {
	line-height: 18px;
	height: 54px;
	overflow: hidden;
}
.flexsliderbox {
	margin: 30px 0;
}
.h2bg {
	background: url(../images/h2bg.jpg) repeat-x left bottom;
	margin-bottom: 30px;
	padding-bottom: 13px;
	height: 20px;
}
.h2bg a {
	padding-bottom: 7px;
	padding-bottom: 6px \0;
	border-bottom: 5px solid #15288f;
}
.col_top h2 {
	border-bottom: 2px solid #333;
	padding-bottom: 5px;
	margin-bottom: 10px;
}
.col_top .online {
	background: url(../images/morebg2.jpg) no-repeat;
	width: 125px;
	line-height: 27px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	font-size: 14px;
	margin-left: 30px;
}
.col_1_2 {
	width: 670px;
}
.col_1_2 ul, .col_1_2 div {
	width: 320px;
}
.col_1_2 h2, .col_2_2 h2, .col_1_2 li {
	margin-bottom: 15px;
}
.col_1_2 h3 {
	border-left: 3px solid #15288f;
	padding: 5px 0 5px 10px;
	background: #f6f6f6;
}
.col_1_2 h4 {
	margin: 15px 0 5px;
}
.col_2_2 {
	width: 320px;
}
/**leftt_content**/
.left_content {
	width: 771px;
	overflow: hidden;
}
.list {
	width: 786px;
}
.list li {
	width: 247px;
	margin-right: 15px;
	margin-bottom: 30px;
}
.list_online {
	width: 32px;
}
.list .msg {
	width: 205px;
	height: 75px;
	overflow: hidden;
}
.listimg {
	display: block;
	margin-bottom: 15px;
}
.list p {
	border-left: 1px solid #15288f;
	padding-left: 5px;
	margin-top: 5px;
}
.list_solution li, .left_top, .imgbox {
	border-bottom: 1px solid #999;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.list_solution img {
	padding: 4px;
	border: 1px solid #ccc;
	display: block;
}
.list_solution .text {
	width: 490px;
}
.list_solution .more, .left_top .more {
	color: #15288f;
	font-weight: bold;
	font-size: 14px;
}
.list_solution p {
	margin: 15px 0;
	height: 100px;
	overflow: hidden;
}
.left_top img {
	margin-right: 30px;
}
.left_top .more {
	display: block;
	margin-top: 5px;
}
.boxlist {
	width: 788px;
}
.boxlist li {
	width: 179px;
	float: left;
	margin-right: 18px;
	text-align: center;
}
.box h2 {
	border-bottom: 1px solid #999;
}
.box span {
	line-height: 26px;
	padding: 2px 15px;
	background: #333;
	color: #fff;
	font-size: 18px;
}
.textbox h3 {
	margin-bottom: 10px;
}
.textbox img {
	margin-top: 15px;
}
.imgbox img, .aboutimgbox img, .contact_left_top img {
	display: block;
	padding: 4px;
	border: 1px solid #ccc;
}
.aboutlist li {
	margin-bottom: 30px;
}
.contact_left_top ul {
	margin-top: 20px;
}
.contact_left_top li {
	font-size: 14px;
	margin-top: 5px;
}
/*right_sidebar*/
.right_sidebar {
	width: 220px;
}
.right_top li a {
	background: url(../images/right_toplibg.gif) no-repeat 6px 8px;
	display: block;
	padding: 5px 5px 5px 20px;
	margin-bottom: 2px;
}
.right_top li .drop {
	background-color: #e0dfdf;
	font-size: 14px;
	font-weight: bold;
}
.right_top li li a {
	padding: 2px 5px 2px 25px;
	background-position: 12px 5px;
}
.right_top li li a.active, .right_top li li a:hover {
	color: #15288f;
}
.right_top li .drop.active {
	background: #e0dfdf url(../images/right_toplibgactive.gif) no-repeat 3px 11px;
}
.right_top ul, .textoffice {
	display: none;
}
.right_top ul.active {
	display: block;
}
.textoffice {
	padding: 10px 0 5px 15px;
}
.right_bottom {
	margin-top: 30px;
}
/*#footer*/
#footer {
	background: url(../images/footerbg.jpg) repeat left top;
	padding-top: 50px;
	margin-top: 30px;
}
.fcol {
	margin-right: 40px;
}
.fcol_1 {
	width: 346px;
}
.fcol_1 ul {
	margin-top: 15px;
}
.fcol_1 ul li {
	background: url(../images/follibg.jpg) no-repeat left 7px;
	padding-left: 15px;
	margin-bottom: 5px;
}
.fcol_2 {
	width: 338px;
	overflow: hidden;
}
.fcol_2 ul {
	width: 348px;
}
.fcol_2 li {
	margin: 0 10px 10px 0;
}
.fcol_2 img {
	display: block;
}
.fcol_3 {
	width: 260px;
	margin: 0;
}
.fcol_3 li {
	padding-left: 25px;
	margin-bottom: 7px;
}
.fcol_3 .add {
	background: url(../images/add.jpg) no-repeat 3px 2px;
}
.fcol_3 .tell {
	background: url(../images/tell.jpg) no-repeat 0 5px;
}
.fcol_3 .fax {
	background: url(../images/fax.jpg) no-repeat 0 5px;
}
.fcol_3 .email {
	background: url(../images/email.jpg) no-repeat 0 5px;
}
#footer h2 a {
	color: #fff;
}
#footer a, #footer p, .f_bottom span, .fcol_3 li {
	color: #999;
}
.f_bottom {
	background: url(../images/f_bottombg.jpg) repeat left top;
	text-align: right;
	padding: 20px 0;
	margin-top: 30px;
}
/*form*/
.control-label {
	padding-right: 20px;
	font-weight: bold;
}
.red {
	color: #f00;
}
.boxfrom {
	margin-top: 20px;
}
.boxfrom form {
	margin: 20px 0 0 20px;
}
.boxfrom td {
	padding-bottom: 8px;
}
.input-xlarge {
	width: 70%;
	border: 1px solid #aaa;
	height: 24px;
	padding: 2px;
}
.form .input-xlarge {
	width: 98%;
}
textarea.input-xlarge {
	height: 100px;
}
.col_2_2 textarea.input-xlarge {
	height: 70px;
}
.inline {
	margin-right: 15px;
	display: inline-block;
}
.inline input {
	vertical-align: middle;
}
.btn {
	width: 129px;
	background: #15288f;
	color: #fff;
	text-align: center;
	line-height: 24px;
	margin-top: 10px;
}
/*js*/
.flexslider {
	position: relative;
	overflow: hidden;
	padding: 0 30px;
}
.flexslider span, .boxlist span {
	display: block;
	font-weight: bold;
	margin-top: 15px;
	height: 40px;
	overflow: hidden;
}
.slides li {
	width: 186px;
	margin-right: 10px;
	float: left;
	position: relative;
	text-align: center;
}
.flex-control-paging {
	display: none;
}
.flex-direction-nav a {
	text-indent: -9999px;
	position: absolute;
	top: 17px;
	width: 20px;
	height: 98px;
}
.flex-direction-nav .flex-prev {
	background: #fff url(../images/slidestrun1.jpg) no-repeat left top;
	left: 0;
}
.flex-direction-nav .flex-next {
	background: url(../images/slidestrun2.jpg) no-repeat right top;
	right: 0px;
}
.banner {
	padding: 50px 0 30px;
}
.item, .banner, .banner ul {
	position: relative;
	overflow: hidden;
}
.banner ul {
	width: 1024px;
	margin: 0 auto;
}
.banner .text {
	width: 580px;
	margin-top: 30px;
}
.banner h1 {
	width: 411px;
	height: 73px;
	text-indent: -99999px;
}
.banner .more {
	background: url(../images/bannermore.jpg) no-repeat;
	width: 148px;
	height: 42px;
	display: block;
	text-indent: -99999px;
}
.item01 h1 {
	background: url(../images/banner1h1.gif) no-repeat;
}
.item02 h1 {
	background: url(../images/banner2h1.gif) no-repeat;
}
.item03 h1 {
	background: url(../images/banner3h1.gif) no-repeat;
}
.item04 h1 {
	background: url(../images/banner4h1.gif) no-repeat;
}
.item05 h1 {
	background: url(../images/banner5h1.gif) no-repeat;
}
.item06 h1 {
	background: url(../images/banner6h1.gif) no-repeat;
}
.banner p {
	font-size: 22px;
	line-height: 32px;
	color: #fff;
	margin: 15px 0;
}
.carousel-inner .item {
	display: none;
	-webkit-transition: .6s ease-in-out left;
	-moz-transition: .6s ease-in-out left;
	-o-transition: .6s ease-in-out left;
	transition: .6s ease-in-out left;
	left: 0;
	top: 0;
}
.banner ol {
	width: 120px;
	margin: 40px auto 0;
}
.banner ol li {
	width: 10px;
	height: 10px;
	background: url(../images/olli.jpg) no-repeat;
	float: left;
	text-indent: -99999px;
	margin-right: 10px;
}
.banner ol .active {
	background: url(../images/olliactive.jpg) no-repeat;
}
.carousel-inner .active, .carousel-inner .next, .carousel-inner .prev {
	display: block
}
.carousel-inner .next, .carousel-inner .prev {
	position: absolute;
	top: 0;
	width: 100%
}
.carousel-inner .next {
	left: 100%
}
.carousel-inner .prev {
	left: -100%
}
.carousel-inner .next.left, .carousel-inner .prev.right {
	left: 0
}
.carousel-inner .active.left {
	left: -100%
}
.carousel-inner .active.right {
	left: 100%
}
.banner img {
	width: auto;
	max-width: 100%;
	height: auto;
}
.banner {
	background: #571ead;
}
@media all and (max-width:1040px) {
.header_text, #content, .footer-col, .banner ul, .subnav, .f_bottom p {
	width: 98%;
}
.nav, .fcol_2 ul, .list, .boxlist {
	width: 100%;
}
.nav ul, .imgbox img, .aboutimgbox img, .contact_left_top img {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.logo img, .banner img, .column img, .slides img, .fcol_2 img, .list img, .list_solution img, .boxlist img, .imgbox img, .aboutimgbox img {
	width: auto;
	max-width: 100%;
	height: auto;
}
.logo {
	margin-left: 1%;
}
.banner ul li > a, .col_left_r li>a {
	width: 38%;
}
.banner .text, .col_left_r .text {
	width: 58%;
}
.banner h1 {
	width: 80%;
	height: 57px;
	background-size: 100% 100%;
}
.col_left, .col_right .text {
	width: 64%;
}
.col_right, .col_right .frist >a {
	width: 33%;
}
.col_left_l {
	width: 44%;
}
.col_left_r {
	width: 52%;
}
.col_left_r li>a {
	max-width: 121px;
}
.col_left_r h3 {
	white-space: nowrap;
	overflow: hidden;
}
.col_left_r li {
	margin-bottom: 10px;
}
.col_right .frist >a {
	width: 33%;
	max-width: 109px;
}
.col_right li a {
	width: 70%;
}
.flex-direction-nav .flex-next, .flex-direction-nav .flex-prev {
	height: 50%;
	background-size: 100% 100%;
}
.col_1_2 {
	width: 65%;
}
.col_1_2 ul, .col_1_2 div {
	width: 49%;
}
.col_1_2 p {
	max-height: 120px;
	overflow: hidden;
}
.col_1_2 li p {
	max-height: 85px;
}
.col_2_2, .list_solution li > a {
	width: 32%;
}
.fcol {
	margin-right: 3%;
	width: 33%;
}
#footer {
	padding-top: 20px;
}
.fcol_3 {
	width: 28%;
	margin: 0;
}
.f_bottom {
	margin-top: 15px;
}
.fcol_2 li, .boxlist li {
	width: 23.5%;
	margin-right: 2%;
}
.left_content {
	width: 73%;
}
.right_sidebar {
	width: 24%;
}
.list li {
	width: 32%;
	margin-right: 2%;
}
.list_online {
	width: 15%;
}
.list .msg {
	width: 82%;
}
.list_solution .text {
	width: 63%;
}
.contact_left_top img {
	width: 46%;
	height: auto;
	margin-right: 4%;
}
.contact_left_top ul {
	width: 50%;
	margin: 0;
}
.fcol_2 li:nth-child(4n), .list li:nth-child(3n), .boxlist li:nth-child(4) {
	margin-right: 0;
}
}
@media all and (max-width:902px) {
.logo {
	margin: 10px 50px 15px 1%;
}
.nav li a {
	padding: 26px 10px;
	width: auto;
}
.banner .text {
	margin-top: 15px;
}
.list_solution p {
	margin: 8px 0;
}
.boxfrom .h2bg {
	margin-bottom: 10px;
}
}
@media all and (max-width:758px) {
.logo {
	width: 160px;
	margin: 10px 20px 15px 1%;
}
.nav li a {
	padding: 19px 7px;
	width: auto;
}
.header_text img {
	display: none;
}
.banner .text {
	margin: 0;
}
.banner {
	padding: 30px 0 10px;
}
.banner ol {
	margin-top: 20px;
}
.col_left_l h2 {
	margin: 10px 0 8px;
}
.f_bottom {
	text-align: center;
	padding: 10px 0;
}
.f_bottom span {
	display: block;
	float: none;
}
.fcol_2 li {
	width: 28%;
}
.fcol_2 li:nth-child(4n) {
	margin-right: 2%;
}
.left_content, .right_sidebar, .form table {
	width: 100%;
}
.h1 {
	margin-bottom: 15px;
}
#content {
	position: relative;
}
.right_top {
	position: absolute;
	left: 0;
	top: 30px;
	width: 100%;
	background: #fff;
	display: none;
}
.contact_right_top {
	position: static;
	display: block;
}
.right_pull {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	text-indent: -99999px;
	width: 78px;
	height: 27px;
	background: url(../images/menu1.png) no-repeat;
}
.right_pullbg {
	background: url(../images/menu.png) no-repeat;
}
.right_bottom {
	margin-top: 10px;
}
}
@media all and (max-width:679px) {
.col_left, .col_right {
	width: 100%;
}
.col_left {
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}
.col_right .text {
	float: left;
	margin-left: 2%;
}
}
@media all and (max-width:639px) {
.col_1_2, .col_2_2, .nav ul, .fcol {
	width: 100%;
}
#pull {
	display: block;
	background: url(../images/pull.jpg) no-repeat left top;
	width: 30px;
	height: 18px;
	margin: 18px 20px 0 0;
}
.nav ul {
	display: none;
	border-top: 1px solid #ccc;
}
.nav li a {
	padding: 26px 10px;
}
.banner p {
	line-height: 26px;
	font-size: 16px;
	margin: 5px 0;
}
.banner h1 {
	height: 40px;
}
.fcol {
	margin: 0 0 15px;
}
#footer h2 {
	margin-bottom: 5px;
}
.fcol_2 li {
	width: auto;
	margin-right: 10px;
}
.fcol_2 li:nth-child(4n) {
	margin-right: 10px;
}
.input-xlarge {
	width: 90%;
}
.aboutlist li {
	margin-bottom: 15px;
}
.aboutlist .libg01, .aboutlist .libg02, .aboutlist .libg03, .aboutlist .libg04 {
	background-size: 80px 80px;
}
.aboutlist .libg01 {
	padding-left: 80px;
}
.aboutlist .libg03 {
	padding-left: 50px;
}
.aboutlist .libg02 {
	padding-right: 80px;
}
.aboutlist .libg04 {
	padding-right: 50px;
}
}
@media all and (max-width:479px) {
.nav li, .col_left_r, .col_left_l, .col_1_2 ul, .col_1_2 div {
	width: 100%;
}
.nav li a {
	text-align: left;
	padding: 7px 25px;
	border-bottom: 1px solid #ccc;
}
.col_left_l, .col_1_2 {
	margin-bottom: 15px;
	border-bottom: 1px dashed #999;
	padding-bottom: 10px;
}
.divtext {
	margin: 0;
}
.col_left_r .text {
	float: left;
	margin-left: 4%;
}
.list li {
	width: 49%;
	margin-right: 2%;
}
.list li:nth-child(3n) {
	margin-right: 2%;
}
.list li:nth-child(2n) {
	margin-right: 0;
}
.list_solution p {
	height: 64px;
	margin: 0;
}
.list_solution li, .left_top {
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.left_top img {
	width: 35%;
	height: auto;
}
.contact_left_top ul {
	width: 60%;
}
}
/* 面包屑导航 */
.subnav ul {
	padding: 0;
	font-size: 12px;
}
.subnav ul li {
	display: inline;
	padding-right: 10px;
	margin-left: 5px;
	background: url(../images/li-arrows.png) 100% 50% no-repeat;
}
.subnav .first, .subnav .last {
	background: none;
}
.subnav .first {
	padding-right: 0;
	margin-left: 0;
}
/* 分页按钮 */
div.gdl-pagination {
	float: right;
}
div.gdl-pagination a {
	background-color: #f5f5f5;
}
div.gdl-pagination a {
	color: #7b7b7b;
}
div.gdl-pagination a:hover {
	background-color: #15288f;
}
div.gdl-pagination a:hover {
	color: #ffffff;
}
div.gdl-pagination span {
	background-color: #15288f;
}
div.gdl-pagination span {
	color: #ffffff;
}
div.gdl-pagination a, div.gdl-pagination span {
	display: block;
	padding: 5px 9px;
	margin-left: 5px;
	float: left;
	font-size: 12px;
}
<!--
table--> table {
	display: table;
	border-collapse: separate;
	border-spacing: 2px;
	border-color: gray;
}
tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}
.para_table {
	border-collapse: collapse;
	width: 98%;
}
.para_table td {
	border: 1px #999 solid;
	padding: 5px;
	text-align: center;
}
.odd {
	background: #e1eaf0;
}
.even {
	background: #efefef;
}
.box ul {
	margin-bottom: 20px;
}
.box p {
	padding-bottom: 15px;
}
.msg h3 {
	text-transform: capitalize;
}
.textbox p {
	padding-bottom: 15px;
}
.textbox h2 {
	padding-bottom: 15px;
}
.textbox ul {
	margin-bottom: 10px;
}
.textbox ul li, .box ul li {
	padding-left: 15px;
	background: url(../images/liicon.png) no-repeat left center;
}
.textbox h1, .textbox h2, .textbox h3, .box h1, .box h2, .box h3 {
	text-transform: capitalize;
}
